{% extends "base_templates.html" %}
{% block title %}Colegio San Miguel{% endblock %}
{% block content %}
    <style>
        body {
    align-items: left upper;
    background-color: #2C0B0B;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    align-items: left upper;
    background-color: #8B0000;
    padding: 20px;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 24px;
}

section {
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

footer {
    align-items: left upper;
    background-color: #FF2400;
    padding: 10px;
    text-align: center;
}    

footer p {
    margin: 0;
}

    </style>
    
    <div class="container">
        <h1>Colegio San Miguel</h1>
        <h2>Registrar asistencias</h2>
        <hr/>
        <form action="{{ request.path }}" method="post">
            {% if cursos is not none %}
                <label for="cursos">Cursos</label><br>
                <select id="cursos" name="curso" width="500px">
                    {% for curso in cursos %}
                        {% if curso.idpreceptor == preceptor.id %}
                            <option value="{{ curso.id }}">{{ curso.anio }} {{ curso.division }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br> <br>
                <input class="button1" type="submit" value="Ir al curso">
            {% else %}
           
                {% if estudiantes %}
                    <h3>Estudiantes del curso: {{ curso_selecc.anio }}° Div:{{ curso_selecc.division }}</h3>
                    <table>
                        <tr>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Clase</th>
                            <th>Asistencia</th>
                            <th>Justificacion</th>
                        </tr>
                        {% for estudiante in estudiantes %}
                            <tr>
                                <td>{{ estudiante.apellido }}</td>
                                <td>{{ estudiante.nombre }}</td>
                                <td>
                                    <select name="clase">
                                        <option value="1">Clase de Aula</option>
                                        <option value="2">Ed. Fisica</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="asistio">
                                        <option value="s">Presente</option>
                                        <option value="n">Ausente</option>
                                    </select>
                                </td>
                                <td><input type="text" name="justificacion"></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                        <input class="button1" type="submit" value="Guardar asistencias">
                    </form>
                {% endif %}
            {% endif %}
        </form>
    </div>
    {% endblock %}

    
    
    
    
    
    
    